@model UserViewModel
<a asp-action="UserAccount" asp-controller="Account" asp-route-id="@Model.Id">
    @if (Model.Profile_Picture_URI != null)
    {
        <img style="height:40px; width:40px; margin-right:10px; border-radius:50%;" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Profile_Picture_URI))" />
    }
    else
    {
        <img style="height:40px; width:40px; margin-right:10px; border-radius:50%;" src="~/Pics/standartPicture.jpg" />
    }
</a>
<a asp-action="UserAccount" asp-controller="Account" asp-route-id="@Model.Id" style="text-decoration:none;color:black; margin-right:10px;">
    <span style="font-weight:bold;">@Model.Username</span>
</a>

@if (Model.Current_User_Following == false && Model.Id != User.FindFirstValue(ClaimTypes.NameIdentifier))
{
    <a id="comment-modal-follow-button" class="comment-modal-follow-following-button" style="color:#3897F0;">
        Follow
    </a>
    <a id="comment-modal-unfollow-button" class="comment-modal-follow-following-button" style="display:none;">
        Following
    </a>
}
else if (Model.Current_User_Following == true && Model.Id != User.FindFirstValue(ClaimTypes.NameIdentifier))
{
    <a id="comment-modal-unfollow-button" class="comment-modal-follow-following-button">
        Following
    </a>
    <a id="comment-modal-follow-button" class="comment-modal-follow-following-button" style="display:none; color:#3897F0;">
        Follow
    </a>
}

@if (Model.Id == User.FindFirstValue(ClaimTypes.NameIdentifier))
{
    <a asp-action="DeletePost" asp-controller="Account" asp-route-postId="@ViewBag.PostId" asp-route-userId="@Model.Id" style="margin-left:auto; margin-right:20px;">
        <img src="~/Pics/icons8-add-trash-48.png" style="height:20px; width:20px; " />
    </a>
}


<script>
    $('#comment-modal-follow-button').click((e) => {
        $.ajax({
            type: "GET",
            url: "/Account/FollowUser",
            data: { id: '@Model.Id'},
            success: (responce) => {
                $('#comment-modal-follow-button').css('display', 'none');
                $('#comment-modal-unfollow-button').css('display', 'inline');
                $('#number-of-followings :first').text(`${parseInt($('#number-of-followings').text()) + 1}`);
                    $('#number-of-followings :last').text('followings');

                    $('#number-of-followings :first').css('font-weight', 'bold');
            },
            failure: (responce) => {
            }
        });
    });
    $('#comment-modal-unfollow-button').click((e) => {
        $.ajax({
            type: "GET",
            url: "/Account/UnfollowUser",
            data: { id: '@Model.Id'},
            success: (responce) => {
                $('#comment-modal-unfollow-button').css('display', 'none');
                $('#comment-modal-follow-button').css('display', 'inline');
                $('#number-of-followings :first').text(`${parseInt($('#number-of-followings').text()) - 1}`);
                    $('#number-of-followings :last').text('followings');

                    $('#number-of-followings :first').css('font-weight', 'bold');
            },
            failure: (responce) => {
            }
        });
    });

</script>