@model List<UserViewModel>

<div id="users-list">
    @foreach (var user in Model)
    {
        <div class="person">
            <a href="@Url.Action("UserAccount", "Account", new { id = user.Id})">
                @if (user.Profile_Picture_URI != null)
                {
                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(user.Profile_Picture_URI))" />
                }
                else
                {
                    <img src="~/Pics/standartPicture.jpg" />
                }
            </a>
            <div class="person-identity">
                <a href="@Url.Action("UserAccount", "Account", new { id = user.Id})">@user.Username</a>
                <p>@user.Full_Name</p>
            </div>
            <div class="follow-unfollow-user-button-placeholder" data-userId="@user.Id">
                @if (!user.Current_User_Following)
                {
                    <a class="FollowButton">
                        Follow
                    </a>
                    <a class="UnfollowButton" style="display:none;">
                        Unfollow
                    </a>
                }
                else
                {
                    <a class="FollowButton" style="display:none;">
                        Follow
                    </a>
                    <a class="UnfollowButton">
                        Unfollow
                    </a>
                }
            </div>
        </div>
    }
</div>

<script src="~/Scripts/FollowUnfollowButtonActionScript.js"></script>