@model List<PostViewModel>
<div id="user-account-container">

    @if (User.Identity.IsAuthenticated)
    {
        <div id="user-information-part">
            <a style="display:flex;justify-content:center;align-items:center;">
                @if (ViewBag.CurrUser.Profile_Picture_URI != null)
                {
                    <img style="width:150px; height:150px; border-radius:50%" src="data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.CurrUser.Profile_Picture_URI))" />

                }
                else
                {
                    <img style="width:150px; height:150px; border-radius:50%" src="~/Pics/standartPicture.jpg" />
                }
            </a>
            <div id="additional-user-information-and-stats">
                <div id="a-i-upper-part">
                    <p style="display:inline;font-size:20px;margin-right:5px;">@ViewBag.CurrUser.Username</p>
                    @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == ViewBag.CurrUser.Id)
                    {
                        <button id="edit-profile-button" style="margin-right:5px;font-weight:bold;" onclick="location.href='@Url.Action("ChangeProfile", "Account")'">Edit Profile</button>
                        <a>
                            <img src="https://img.icons8.com/small/24/000000/gear.png">
                        </a>
                    }
                    else
                    {
                        //TODO - change here
                        <a id="FollowButton" href="@Url.Action("FollowUser", "Account", new { id = ViewBag.CurrUser.Id}) ">Follow</a>

                        <a id="UnfollowButton" href="@Url.Action("UnfollowUser", "Account", new { id = ViewBag.CurrUser.Id})">Unfollow</a>
                    }


                </div>
                <div id="a-i-middle-part">
                    <p><span style="font-weight:bold;">@Model.Count</span>  @(Model.Count == 1 ? "post" : "posts")</p>
                    <a id="number-of-followers"><span style="font-weight:bold;">@ViewBag.UserStats.NumberOfFollowers</span> <span>followers</span></a>
                    <a id="number-of-followings"><span style="font-weight:bold;">@ViewBag.UserStats.NumberOfFollowings</span> <span>followings</span></a>
                </div>
                <div id="a-i-bottom-part">
                    <p>@ViewBag.CurrUser.Full_Name</p>
                    <p>@ViewBag.CurrUser.Bio</p>
                    <a href="@ViewBag.CurrUser.Web_Site_Link">@ViewBag.CurrUser.Web_Site_Link</a>
                </div>
            </div>
        </div>
        <div id="user-posts-part-parent">
            <div id="user-posts-part">

                <div style="margin-right:70px;border-top:1px solid black;padding-top:5px;margin-top:-6px;cursor:pointer;" id="inner-span-f">
                    <a>
                        <span>
                            <img src="~/Pics/icons8-heat-map-24.png">
                            <span>POSTS</span>
                        </span>
                    </a>
                </div>

                <div id="inner-span-s" style="opacity: 0.4;filter: alpha(opacity=40); cursor:pointer;">
                    <a>
                        <span>
                            <img src="~/Pics/icons8-bookmark-24.png">
                            <span>SAVED</span>
                        </span>
                    </a>
                </div>
            </div>
            <div id="users-photos-part">
                @foreach (var p in Model)
                {
                    <a>
                        @if (p.Picture != null)
                        {
                            <div style="position:relative;width:100%;padding-bottom:100%;" class="user-photo">
                                <img style='position:absolute; width:100%; height:100%' src="data:image/jpeg;base64,@(Convert.ToBase64String(p.Picture))" data-post-id="@p.Id" data-author-id="@p.IUser_Id"/>
                                <div id="image-info">
                                    <img style="width:20px;height:20px;margin-right:5px;" src="~/Pics/output-onlinepngtools.png" />
                                    <p style="color:white;font-size:20px; margin-right:20px;">@p.Number_Of_Likes</p>
                                    <img style="width:20px;height:20px; margin-right:5px;" src="~/Pics/CommentIcon.png" />
                                    <p style="color:white;font-size:20px;">@p.Number_Of_Captions</p>
                                </div>
                            </div>
                        }
                    </a>
                }
            </div>
        </div>

        <div id="followers-followings-modal">

            <div id="modal-content">
                <div id="modal-top-part">
                    <span id="followers-followings-label"></span>
                    <span id="close">&times;</span>
                </div>
                <div id="modal-central-part">

                </div>
            </div>

        </div>

        <div id="post-modal">
            <div id="post-modal-content">
                <div id="photo-part">

                </div>
                <div id="comments-part">
                    <div id="comments-top-part">

                    </div>
                    <div id="comments-central-part">

                    </div>
                    <div id="comments-bottom-part">

                    </div>
                </div>
            </div>
            <span id="post-modal-close">&times;</span>

        </div>

        @section Scripts{
            <script>
                $(function () {
                    if (@ViewBag.Following == 0) {
                        $("#UnfollowButton").hide();
                    }
                    else {
                        $("#FollowButton").hide();

                    }
                    $('#inner-span-f').click((e) => {
                        if (e.target.tagName !== 'DIV') {
                            $(e.target).closest('#inner-span-f').css({ 'border-top': '1px solid black','margin-top':'-6px','padding-top':'5px','opacity':'','filter':''});
                            document.getElementById('inner-span-s').style.removeProperty('border-top');
                            document.getElementById('inner-span-s').style.setProperty('opacity', '0.4');
                            document.getElementById('inner-span-s').style.setProperty('filter', 'alpha(opacity=40)');
                        }
                        else {
                            $(e.target).css({ 'border-top': '1px solid black','margin-top':'-6px','padding-top':'5px','opacity':'','filter':''});
                            document.getElementById('inner-span-s').style.removeProperty('border-top');
                            document.getElementById('inner-span-s').style.setProperty('opacity', '0.4');
                            document.getElementById('inner-span-s').style.setProperty('filter', 'alpha(opacity=40)');
                        }


                    });
                    $('#inner-span-s').click((e) => {
                        if (e.target.tagName !== 'DIV') {
                            $(e.target).closest('#inner-span-s').css({ 'border-top': '1px solid black','margin-top':'-6px','padding-top':'5px','opacity':'','filter':''});
                            document.getElementById('inner-span-f').style.removeProperty('border-top');
                             document.getElementById('inner-span-f').style.setProperty('opacity', '0.4');
                            document.getElementById('inner-span-f').style.setProperty('filter', 'alpha(opacity=40)');
                        }
                        else {
                            $(e.target).css({ 'border-top': '1px solid black','margin-top':'-6px','padding-top':'5px','opacity':'','filter':''});
                            document.getElementById('inner-span-f').style.removeProperty('border-top');
                             document.getElementById('inner-span-f').style.setProperty('opacity', '0.4');
                            document.getElementById('inner-span-f').style.setProperty('filter', 'alpha(opacity=40)');
                        }

                    });
                    $('.user-photo').mouseenter((e) => {
                        $(e.target.nextElementSibling).css('visibility', 'visible');
                    });
                    $('.user-photo').mouseleave((e) => {
                        $(e.target.nextElementSibling).css('visibility', 'hidden');
                    });
                    $('#number-of-followers').click((e) => {
                        $('#followers-followings-modal').css('display', 'flex');
                        $.ajax({
                            type: "GET",
                            url: "/Account/GetFollowers",
                            data: { id: '@ViewBag.CurrUser.Id'},
                            success: (responce) => {
                                $('#followers-followings-label').text('Followers');
                                $('#modal-central-part').html(responce);
                            },
                            failure: (responce) => {
                            }
                        });
                    });
                    $('#number-of-followings').click((e) => {
                        $('#followers-followings-modal').css('display', 'flex');
                        $.ajax({
                            type: "GET",
                            url: "/Account/GetFollowings",
                            data: { id: '@ViewBag.CurrUser.Id'},
                            success: (responce) => {
                                $('#followers-followings-label').text('Followings');

                                $('#modal-central-part').html(responce);

                            },
                            failure: (responce) => {

                            }
                        });
                    });
                    $('#close').click((e) => {
                        $('#followers-followings-modal').css('display', 'none');
                    });
                    $('.user-photo').click((e) => {
                        $('#post-modal').css('display', 'flex');
                    });
                    $('#post-modal-close').click((e) => {
                        $('#post-modal').css('display', 'none');
                        $('#photo-part img').remove();
                    });
                    $('.user-photo').click((e) => {
                        $('#photo-part').append(`<img style="width:100%;height:100%;" src="${$(e.target).attr('src')}"/>`);
                        $.ajax({
                            type: "GET",
                            url: "/Account/GetAuthorGeneralInfo",
                            data: { id: $(e.target).attr('data-author-id') },
                            success: (responce) => {
                                console.log('worked');
                                $('#comments-top-part').html(responce);
                            },
                            failure: (responce) => {

                            }
                        });
                        //$.ajax({
                        //    type: "GET",
                        //    url: "/Account/GetAllCaptions",
                        //    data: { id: $(e.target).attr('data-author-id') },
                        //    success: (responce) => {
                        //        console.log('worked');
                        //        $('#comments-top-part').html(responce);
                        //    },
                        //    failure: (responce) => {

                        //    }
                        //});
                    });
            });
            </script>
        }
    }
    else
    {
        @section Scripts{
            <script>
            $(function(){
                window.location.href = "@Url.Action("SignIn","Account")";
            });
            </script>
        }
    }

</div>
